body {
  background-color: #4d94ff;
}

.wrapper {
  border: solid 2px black;
  display: flex;
  justify-content: center;

}

.box {
  border-radius: 10px;
  background-color: white;
  color: blue;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  text-align: center;
}
